
@model TraverselProject.Areas.Member.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h4>Profile Düzenleme</h4>

<form method="post" enctype="multipart/form-data">
    @Html.Label("Adınız")
    <input type="text" asp-for="name" class="form-control"/>
    <br />
    @Html.Label("Soyadınız")
    <input type="text" asp-for="surname" class="form-control"/>
    <br />
    @Html.Label("Mail Adresi")
    <input type="text" asp-for="mail" class="form-control"/>
    <br />
    @Html.Label("Şifreniz")
    <input type="text" asp-for="password" class="form-control" />
    <br />
    @Html.Label("Şifre Tekrar")
    <input type="text" asp-for="confirmpassword" class="form-control" />
    <br />
    @Html.Label("Telefon Numarası")
    <input type="text" asp-for="phonenumber" class="form-control" />
    <br />
    <div class="form-group">
        @Html.Label("Resim Dosyası")
        <input type="file" asp-for="image" />
    </div>
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>
